.profile__edit-button {
	max-width: 24px;
	max-height: 24px;
	margin: 38px 0 0 18px;
}

.profile__edit-button:hover {
	opacity: .6;
	transition: ease .3s;
}


@media screen and (max-width: 767px) {
	.profile__edit-button {
		margin: 36px 0 0;
		width: 18px;
		height: 18px;
	}
}