.profile__name {
	font-size: 42px;
	line-height: 1.14;
	font-weight: 500;
	margin: 24px 0 13px;
	padding: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 336px;
}

@media screen and (max-width: 767px) {
	.profile__name {
		align-self: center;
		font-size: 27px;
		line-height: 1.2;
		margin: 28px 0 4px 0;
	}
}