.body {
	background-color: #000000;
	font-family: 'Inter', sans-serif;
	color: #ffffff;
	min-width: 320px;
	margin: 0;
	padding: 0;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	min-width: calc(320px - 19px*2);
	min-height: 100vh;
	background-color: rgba(0, 0, 0, .5);
	align-items: center;
	justify-content: center;
	display: none;
}

.popup_opened {
	display: flex;
}

.popup__close {
	position: absolute;
	top: -28px;
	right: 0;
}

.popup__close:hover {
	transition: .3s ease;
	opacity: .7;
}

.popup__container {
	width: 430px;
	height: 330px;
	background-color: #ffffff;
	border-radius: 10px;
	opacity: 1.0;
	position: relative;
}

@media screen and (max-width: 767px) {
	.popup__container {
		width: calc(100% - 19px*2);
		max-width: 430px;
	}
}

@media screen and (max-width: 320px) {
	.popup__container {
		min-height: 322px;
	}
}

.popup__edit {
	margin: 34px 0 0 36px;
	padding: 0;
	font-size: 24px;
	line-height: 1.2;
	font-weight: 900;
	color: #000000;
}

@media screen and (max-width: 440px) {
	.popup__edit {
		font-size: 18px;
		margin: 34px 0 0 20px;
	}
}

.popup__form {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: none;
}


.popup__field {
	border: none;
	width: calc(100% - 36px*2);
	min-height: 57px;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__field:focus {
	outline: none;
}

@media screen and (max-width: 440px) {
	.popup__field {
		width: calc(100% - 22px*2);
	}
}

.popup__save-button {
	width: calc(100% - 36px*2);
	min-height: 50px;
	background-color: #000000;
	margin: 48px 0 0;
	color: #ffffff;
	font-size: 18px;
	box-shadow: none;
	border: none;
}

.popup__save-button:hover {
	opacity: .8;
	transition: ease .3s;
}

@media screen and (max-width: 440px) {
	.popup__save-button {
		width: calc(100% - 22px*2);
	}
}

.page {
	max-width: 880px;
	margin: 0 auto;
}


.header {
	margin: 45px auto 38px;
	display: flex;
	border-bottom: 1px solid #545454;
	justify-content: start;
}

@media screen and (max-width: 320px) {
	.header {
		margin: 28px auto 38px;
	}
}

.header__logo {
	margin: 0 0 41px;
	max-width: 142px;
}

@media screen and (max-width: 320px) {
	.header__logo {
		max-width: 104px;
		margin: 0 0 32px 27px;
	}
}

.profile {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin: 0 0 48px 0;
}

@media screen and (max-width: 767px) {
	.profile {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0 0 36px 0;
	}
}

.profile__info {
	display: flex;
}

@media screen and (max-width: 767px) {
	.profile__info {
		flex-direction: column;
		align-items: center;
	}
}

.profile__avatar {
	border-radius: 50%;
	max-width: 120px;
	max-height: 120px;
	margin: 0 30px 0 0;
}

@media screen and (max-width: 767px) {
	.profile__avatar {
		align-self: center;
		margin: 0;
	}
}

.profile__title {
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 767px) {
	.profile__title {
		align-items: center;
		font-size: 14px;
		line-height: 1.2;
	}
}

.profile__edit {
	display: flex;
}

.profile__name {
	font-size: 42px;
	line-height: 1.14;
	font-weight: 500;
	margin: 24px 0 13px;
	letter-spacing: 2px;
	padding: 0;
}

@media screen and (max-width: 767px) {
	.profile__name {
		align-self: center;
		font-size: 27px;
		line-height: 1.2;
	}
}

.profile__subtitle {
	font-size: 18px;
	line-height: 1.02;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 767px) {
	.profile__subtitle {
		font-size: 14px;
		line-height: 1.2;
	}
}

.profile__edit-button {
	max-width: 24px;
	max-height: 24px;
	margin: 38px 0 0 18px;
}

.profile__edit-button:hover {
	opacity: .6;
	transition: ease .3s;
}


.profile__add-button:hover {
	opacity: .6;
	transition: ease .3s;
}

@media screen and (max-width: 767px) {
	.profile__edit-button {
		margin: 30px 0 0 18px;
		width: 18px;
		height: 18px;
	}
}

.profile__add-button {
	max-width: 22px;
	max-height: 22px;
	align-self: center;
	padding: 14px 64px;
	border: 1px solid #ffffff;
	margin: 35px 0 0 0;
}

@media screen and (max-width: 767px) {
	.profile__add-button {
		padding: 15px 130px;
	}
}

.element {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 17px;
	align-items: center;
}


@media screen and (max-width: 1023px) {
	.element {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		margin: 0 19px;
	}
}

@media screen and (max-width: 620px) {
	.element {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	}
}

.element__group {
	display: flex;
	flex-direction: column;
	border-radius: 5%;
	min-width: 288px;
	overflow: hidden;
}

.element__image {
	min-width: 289px;
	object-fit: fill;
	object-position: 50% 50%;
}

.element__title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #ffffff;
	margin: 0;
	height: 74px;
}

.element__title-text {
	color: #000000;
	margin: 25px 0 0 21px;
	font-size: 24px;
	font-weight: 900;
	line-height: 1.2;
		text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}


.element__heart {
	margin: 0 30px 0 0;
}

.element__heart:hover {
	opacity: .5;
	transition: ease .3s;
}

.element__heart_active {
	display: none;
	visibility: hidden;
	max-width: 22px;
	max-height: 19px;
	margin: 30px 30px 0 0;
}

.element__heart:active {
	display: none;
	visibility: hidden;
}

.element__heart:active + .element__heart_active {
	display: block;
	visibility: visible;
}

.footer {
	margin: 67px 0 60px;
	color: #545454;
	font-size: 18px;
	line-height: 1.22;
}

@media screen and (max-width: 620px) {
	.footer {
		margin: 48px 19px 36px 19px;
		font-size: 14px;
		line-height: 1.2;
	}
}