.popup__container_type_image {
	background-color: transparent;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: max-content;
	max-height: inherit;
	min-height: max-content;
	min-width: inherit;
}