.profile__add-button {
	all: unset;
	width: 22px;
	height: 22px;
	align-self: center;
	padding: 12px 62px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
	background-image: url('../../../images/Add.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 22px;
}

.profile__add-button:hover {
	opacity: .6;
	transition: ease .3s;
}

@media screen and (max-width: 767px) {
	.profile__add-button {
		padding: 15px 130px;
		margin: 38px 0 0 0;
		width: 16px;
		height: 16px;
		background-size: 16px;
	}
}