.profile__add-button {
	max-width: 22px;
	max-height: 22px;
	align-self: center;
	padding: 14px 64px;
	border: 1px solid #ffffff;
	margin: 5px 0 0 0;
}

.profile__add-button:hover {
	opacity: .6;
	transition: ease .3s;
}

@media screen and (max-width: 767px) {
	.profile__add-button {
		padding: 15px 130px;
		margin: 35px 0 0 0;
	}
}