.profile__edit-button {
	all: unset;
	min-width: 24px;
	min-height: 24px;
	margin: 38px 0 0 18px;
	cursor: pointer;
	background-image: url('../../../images/Edit Button.svg');
	background-repeat: no-repeat;
}

.profile__edit-button:hover {
	opacity: .6;
	transition: ease .3s;
}


@media screen and (max-width: 767px) {
	.profile__edit-button {
		background-position: top;
		background-size: 18px;
		margin: 36px 0 0;
		min-width: 18px;
		min-height: 18px;
	}
}