.element {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 17px;
	align-items: center;
}


@media screen and (max-width: 1023px) {
	.element {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		margin: 0 19px;
	}
}

@media screen and (max-width: 620px) {
	.element {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	}
}