
.popup {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	min-width: calc(320px - 19px*2);
	min-height: 100vh;
	background-color: rgba(0, 0, 0, .5);
	align-items: center;
	justify-content: center;
	display: flex;
	transition: visibility .3s, opacity .3s linear;
	pointer-events: none;
}