
.popup__field {
	border: none;
	width: calc(100% - 36px*2);
	min-height: 36px;
	font-size: 14px;
	line-height: 1.2;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	margin: 0 0 5px;
}

.popup__field:focus {
	outline: none;
}

@media screen and (max-width: 440px) {
	.popup__field {
		width: calc(100% - 22px*2);
		margin: 5px 0 0;
	}
}